.semana{
	width: 120px;
	height: 120px;
	background-color: red;
	margin-left: 5px;
	list-style: none;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	font-family: Verdana;
	text-align: center;
	font-size: auto;
	color: solid black;

}

#calendario{
	width: 1000px;
	
}

.mes{
	font-family: Verdana;
	font-size: 30px;
	text-align: center;
	width: 1000px;
}