<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>Agenda</title>
		<link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/lib/owl.carousel/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/orlando.css">

	</head>
	<body>

		<header>
			
			<div class="container">
			</div>

			<div class="header-black">
				

			</div>

			<div class="container">
				
				<div class="row">
					
					<nav id="menu" class="pull-right" style = "margin-top: 88px">
						<ul>
							<li><a href="../static/index.html">Home</a></li>
							<li><a href="../static/Projeto_1.html">Agenda</a></li>
							<li><a href="../list">Compromissos</a></li>
							<li><a href="../static/map.html">Localização de Eventos</a></li>
							
	
						</ul>
					</nav>

				</div>

			</div>			

		</header>

		<section>
			
			<div >
				
				<style>
                table, th, td {
					margin: 20px;
					border: 1px black solid;
					padding: 10px;
					min-height: 60px;
					margin-left: 200px;

                }
                </style>
                <table >
                <tbody>
                <thead>
                	<td>Evento</td>
                	<td>Data</td>
                	<td>Horário de Início</td>
                	<td>Horário do Término</td>
                	<td>Endereco</td>
                	<td>Descricao</td>
                	<td>Pessoas Associadas</td>
                	<td>Alarme</td>

                </thead>
                {% for row in users %}
                    <tr>
                    <td>{{ row.Evento }} </td>
                    <td>{{ row.Data }} </td>
                    <td>{{ row.Horario_do_Inicio }} </td>
                    <td>{{ row.Horario_do_Termino }} </td>
                    <td>{{ row.Endereco }} </td>
                    <td>{{ row.Descricao }} </td>
                    <td>{{ row.Pessoas_associadas }} </td>
                    <td>{{ row.Alarme }}  </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

			</div>
			</div>

			<div id="estatisticas">
				
				<div class="container">
					<div class="row text-center">
							<p><small>“As cinco essenciais habilidades empreendedoras para o sucesso são concentração, discernimento, organização, inovação e comunicação.” ― Michael Faraday </small></p>
						</div>
					</div>
				</div>

			</div>

			<div id="banner2">
				
				<h1>Agenda<small>Agenda de compromissos</small></h1>

			</div>

		</section>

		<footer>
			
			<div class="row row-cinza-claro">
				
				<div class="container">
					
					<div class="row">
						
						<div class="col-md-2 text-center">
							

						</div>
						<div class="col-md-10">
							
							<div class="row row-cols">
								<div class="col-md-4 col-popular-post">
									
									<h4>POPULAR POSTS</h4>

									<ul class="list-unstyled">
										<li>
											<h5>Projeto 1 Tecnologias Web</h5>
											<time>Ago 11, 2016</time>
										</li>
										<li>
											<h5>Agenda Engenheiro </h5>
											<time>Ago 11,</time>
										</li>

									</ul>

								</div>
								<div class="col-md-4 col-links">
									
									<h4></h4>

									<ul class="list-unstyled">
										<li><a href="#"><i class=""></i>           </a></li>
										<li><a href="#"><i class=""></i>           </a></li>
										<li><a href="#"><i class=""></i>           </a></li>
									</ul>

								</div>
								<div class="col-md-4 col-get-in-touch">
									
									<h4>CONTATO</h4>

									<address>
										<i class="fa fa-map-marker"></i> <span>Rua quatá, 300<br/>São Paulo</span>
									</address>

									<p><a href="tel:223155466"><i class="fa fa-phone"></i>55(11)9417820335</a></p>

									<ul class="list-unstyled list-socials">
										<li>
											<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
										</li>
									</ul>

								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="row row-cinza-escuro">
				
				<div class="container">
					
					<p class="pull-left">Copyright ©.</p>
					<p class="pull-right text-roxo">Aloha</p>

				</div>

			</div>

		</footer>

		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
		<script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="../static/js/efeitos.js"></script>

	</body>
</html>